USE [master]
GO
/****** Object:  Database [AMS]    Script Date: 10/25/2018 2:02:37 PM ******/
CREATE DATABASE [AMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AMS.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AMS_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AMS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[UserRole] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Title] [nvarchar](max) NOT NULL,
	[Category_Code] [nvarchar](max) NOT NULL,
	[Category_Description] [nvarchar](max) NULL,
	[Category_Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategorySubs]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorySubs](
	[CategorySub_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Id] [int] NOT NULL,
	[CategorySub_Title] [nvarchar](max) NOT NULL,
	[CategorySub_Code] [nvarchar](max) NOT NULL,
	[CategorySub_Description] [nvarchar](max) NULL,
	[CategorySub_Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CategorySubs] PRIMARY KEY CLUSTERED 
(
	[CategorySub_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](max) NULL,
	[Customer_MobileNo] [nvarchar](max) NULL,
	[Customer_Address] [nvarchar](max) NULL,
	[Customer_Remaining] [int] NOT NULL,
	[Customer_Status] [bit] NOT NULL,
	[Customer_NTN] [nvarchar](max) NULL,
	[Customer_Company] [nvarchar](max) NULL,
	[Customer_Date] [datetime] NOT NULL,
	[Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GatePasses]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GatePasses](
	[GatePass_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[PurchaseOrder_PtId] [int] NOT NULL,
	[GatePass_No] [nvarchar](max) NULL,
	[GatePass_Date] [datetime] NOT NULL,
	[GatePass_Status] [bit] NOT NULL,
	[PurchaseOrder_Pt_POP_Id] [int] NULL,
 CONSTRAINT [PK_dbo.GatePasses] PRIMARY KEY CLUSTERED 
(
	[GatePass_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Invoice_Id] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_No] [int] NOT NULL,
	[Invoice_Type] [nvarchar](max) NULL,
	[SalePurchase_Id] [int] NOT NULL,
	[Invoice_Status] [bit] NOT NULL,
	[Invoice_Date] [datetime] NOT NULL,
	[Invoice_DocumentNo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Invoices] PRIMARY KEY CLUSTERED 
(
	[Invoice_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Notification_Id] [int] IDENTITY(1,1) NOT NULL,
	[Notification_ItemId] [int] NOT NULL,
	[Notification_ItemType] [nvarchar](max) NULL,
	[Notification_Detail] [nvarchar](max) NULL,
	[Notification_Date] [datetime] NOT NULL,
	[Notification_Status] [bit] NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Notification_IsSeen] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[Notification_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpeningClosings]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpeningClosings](
	[OpeningClosing_Id] [int] IDENTITY(1,1) NOT NULL,
	[OpeningClosing_OpeningBalance] [int] NOT NULL,
	[OpeningClosing_ClosingBalance] [int] NOT NULL,
	[OpeningClosing_IsClosed] [bit] NOT NULL,
	[OpeningClosing_Date] [datetime] NOT NULL,
	[OpeningClosing_Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OpeningClosings] PRIMARY KEY CLUSTERED 
(
	[OpeningClosing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[CategorySub_Id] [int] NOT NULL,
	[ProductSize_Id] [int] NOT NULL,
	[Product_Title] [nvarchar](max) NOT NULL,
	[Product_Code] [nvarchar](max) NOT NULL,
	[Product_Description] [nvarchar](max) NULL,
	[Product_Rate] [decimal](18, 2) NOT NULL,
	[Product_Status] [bit] NOT NULL,
	[Product_Color] [nvarchar](max) NULL,
	[Product_Date] [datetime] NOT NULL,
	[Product_Unit] [nvarchar](max) NULL,
	[Product_UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[ProductSize_Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductSize_Value] [nvarchar](max) NULL,
	[ProductSize_Height] [decimal](18, 2) NOT NULL,
	[ProductSize_Width] [decimal](18, 2) NOT NULL,
	[ProductSize_Length] [decimal](18, 2) NOT NULL,
	[ProductSize_Unit] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductSizes] PRIMARY KEY CLUSTERED 
(
	[ProductSize_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseOrder_Ch]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder_Ch](
	[POC_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Id] [int] NOT NULL,
	[POC_Quantity] [int] NOT NULL,
	[POC_Rate] [decimal](18, 2) NOT NULL,
	[POC_Description] [nvarchar](max) NULL,
	[POC_Amount] [decimal](18, 2) NOT NULL,
	[POC_ItemCode] [nvarchar](max) NULL,
	[POC_Unit] [nvarchar](max) NULL,
	[POP_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOrder_Ch] PRIMARY KEY CLUSTERED 
(
	[POC_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseOrder_Pt]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder_Pt](
	[POP_TotalQuantity] [int] NOT NULL,
	[POP_TotalAmount] [decimal](18, 2) NOT NULL,
	[POP_TotalPaid] [decimal](18, 2) NOT NULL,
	[POP_Date] [datetime] NOT NULL,
	[POP_ModificationDate] [datetime] NOT NULL,
	[POP_Charges] [decimal](18, 2) NOT NULL,
	[POP_TaxPercent] [int] NOT NULL,
	[POP_TaxAmount] [decimal](18, 2) NOT NULL,
	[POP_PO] [nvarchar](max) NULL,
	[Vendor_Id] [int] NOT NULL,
	[POP_Status] [nvarchar](max) NULL,
	[POP_Id] [int] IDENTITY(1,1) NOT NULL,
	[POP_DeliveryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOrder_Pt] PRIMARY KEY CLUSTERED 
(
	[POP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleOrder_Ch]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleOrder_Ch](
	[SOC_Id] [int] IDENTITY(1,1) NOT NULL,
	[SOP_Id] [int] NOT NULL,
	[SOC_Quantity] [int] NOT NULL,
	[SOC_Rate] [decimal](18, 2) NOT NULL,
	[SOC_Description] [nvarchar](max) NULL,
	[SOC_Amount] [decimal](18, 2) NOT NULL,
	[SOC_ItemCode] [nvarchar](max) NULL,
	[SOC_Unit] [nvarchar](max) NULL,
	[Product_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SaleOrder_Ch] PRIMARY KEY CLUSTERED 
(
	[SOC_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleOrder_Pt]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleOrder_Pt](
	[SOP_Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SOP_TotalQuantity] [int] NOT NULL,
	[SOP_TotalAmount] [decimal](18, 2) NOT NULL,
	[SOP_TotalReceived] [decimal](18, 2) NOT NULL,
	[SOP_Date] [datetime] NOT NULL,
	[SOP_ModificationDate] [datetime] NOT NULL,
	[SOP_Charges] [decimal](18, 2) NOT NULL,
	[SOP_TaxPercent] [int] NOT NULL,
	[SOP_TaxAmount] [decimal](18, 2) NOT NULL,
	[SOP_SO] [nvarchar](max) NULL,
	[Customer_Customer_Id] [int] NULL,
	[SOP_Status] [nvarchar](max) NULL,
	[SOP_DeliveryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SaleOrder_Pt] PRIMARY KEY CLUSTERED 
(
	[SOP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Transaction_Id] [int] IDENTITY(1,1) NOT NULL,
	[OpeningClosing_Id] [int] NOT NULL,
	[Transaction_ItemId] [int] NOT NULL,
	[Transaction_ItemType] [nvarchar](max) NULL,
	[Transaction_Description] [nvarchar](max) NULL,
	[Transaction_Debit] [decimal](18, 2) NOT NULL,
	[Transaction_Credit] [decimal](18, 2) NOT NULL,
	[Transaction_IsCash] [bit] NOT NULL,
	[Transaction_BankAccountNo] [nvarchar](max) NULL,
	[Transaction_CheckBookNo] [int] NOT NULL,
	[Transaction_Date] [datetime] NOT NULL,
	[Transaction_Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[Transaction_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 10/25/2018 2:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Vendor_Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor_Name] [nvarchar](max) NULL,
	[Vendor_MobileNo] [nvarchar](max) NULL,
	[Vendor_Address] [nvarchar](max) NULL,
	[Vendor_Remaining] [int] NOT NULL,
	[Vendor_Status] [bit] NOT NULL,
	[Vendor_NTN] [nvarchar](max) NULL,
	[Vendor_Company] [nvarchar](max) NULL,
	[Vendor_Date] [datetime] NOT NULL,
	[Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY CLUSTERED 
(
	[Vendor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Customer')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Vendor')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'903650b1-20d6-4c32-ad76-fa4924059d08', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2be39cb8-763b-4538-b0f5-3aac662caf8b', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'dd1edcf5-903c-4ac8-b4bb-e5f97a7b2b4e', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserRole]) VALUES (N'2be39cb8-763b-4538-b0f5-3aac662caf8b', N'waleed123@gmail.com', 0, N'AJ/jqobPRo2hIKbXcsR6nuwQ3cS9K8S224nh/CKV8JbuJqq2PrhQb1vQuPpo6VrPxA==', N'c5f47433-951e-4d74-93aa-31cabaed1c47', NULL, 0, 0, NULL, 1, 0, N'waleed6054', N'Customer')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserRole]) VALUES (N'903650b1-20d6-4c32-ad76-fa4924059d08', N'demo12345@gmail.com', 0, N'AIwV2Nqn/jLYbpXdhgH4IhbhGh2Kw36wdfdqv4lnaqNsYlmXUQXEu7YiaPo/01Jt/A==', N'dedb6c42-f7a2-4925-a718-8bd9d4ad5bbd', NULL, 0, 0, NULL, 1, 0, N'demo12345', N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserRole]) VALUES (N'dd1edcf5-903c-4ac8-b4bb-e5f97a7b2b4e', N'aliraza123@gmail.com', 0, N'AGg3Z5aOCUq+KIILXbdtl9BIZF1nPNnP/xZpJN2Q1U60X5RYX1XzMO64r3mdunG2Ew==', N'bfef3c91-eb76-4864-87a5-e115a71a5251', NULL, 0, 0, NULL, 1, 0, N'aliraza4110', N'Customer')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Category_Id], [Category_Title], [Category_Code], [Category_Description], [Category_Status]) VALUES (21, N'Elastic', N'01-ELC
', N'Category of Elastic', 1)
INSERT [dbo].[Categories] ([Category_Id], [Category_Title], [Category_Code], [Category_Description], [Category_Status]) VALUES (22, N'Carton', N'02-CRT
', N'Category of Carton', 1)
INSERT [dbo].[Categories] ([Category_Id], [Category_Title], [Category_Code], [Category_Description], [Category_Status]) VALUES (23, N'Sheet', N'03-SHT
', N'Category of Sheet', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CategorySubs] ON 

INSERT [dbo].[CategorySubs] ([CategorySub_Id], [Category_Id], [CategorySub_Title], [CategorySub_Code], [CategorySub_Description], [CategorySub_Status]) VALUES (2, 21, N'Plain Elastic', N'01-0.0', N'Plain Elastic', 1)
INSERT [dbo].[CategorySubs] ([CategorySub_Id], [Category_Id], [CategorySub_Title], [CategorySub_Code], [CategorySub_Description], [CategorySub_Status]) VALUES (13, 22, N'Plain Carton', N'02-0.1
', N'Plain Carton', 1)
INSERT [dbo].[CategorySubs] ([CategorySub_Id], [Category_Id], [CategorySub_Title], [CategorySub_Code], [CategorySub_Description], [CategorySub_Status]) VALUES (14, 22, N'Printed Carton', N'02-0.2', N'Printed Carton', 1)
SET IDENTITY_INSERT [dbo].[CategorySubs] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Customer_Id], [Customer_Name], [Customer_MobileNo], [Customer_Address], [Customer_Remaining], [Customer_Status], [Customer_NTN], [Customer_Company], [Customer_Date], [Id]) VALUES (5, N'Ali Raza', N'03331234567', N'Daroghawala, Lahore, Pakistan', 18, 1, N'123456789', N'PCC', CAST(N'2018-09-03 12:46:00.000' AS DateTime), N'dd1edcf5-903c-4ac8-b4bb-e5f97a7b2b4e')
INSERT [dbo].[Customers] ([Customer_Id], [Customer_Name], [Customer_MobileNo], [Customer_Address], [Customer_Remaining], [Customer_Status], [Customer_NTN], [Customer_Company], [Customer_Date], [Id]) VALUES (6, N'Waleed', N'03001234567', N'Shalimar, Lahore, Pakistan', 0, 1, N'987654321', N'Digicon Valley', CAST(N'2018-09-05 16:23:16.000' AS DateTime), N'2be39cb8-763b-4538-b0f5-3aac662caf8b')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Product_Id], [CategorySub_Id], [ProductSize_Id], [Product_Title], [Product_Code], [Product_Description], [Product_Rate], [Product_Status], [Product_Color], [Product_Date], [Product_Unit], [Product_UnitPrice]) VALUES (14, 2, 1, N'Elastic Normal', N'1', N'Elastic Plain 5cm Black', CAST(12.00 AS Decimal(18, 2)), 1, N'Black', CAST(N'2018-09-10 00:59:44.000' AS DateTime), N'Yards', CAST(8.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Product_Id], [CategorySub_Id], [ProductSize_Id], [Product_Title], [Product_Code], [Product_Description], [Product_Rate], [Product_Status], [Product_Color], [Product_Date], [Product_Unit], [Product_UnitPrice]) VALUES (15, 2, 2, N'Elastic Wide', N'2', N'Elastic Plain 5.5cm Black', CAST(13.00 AS Decimal(18, 2)), 1, N'Black', CAST(N'2018-09-10 01:01:19.000' AS DateTime), N'Yards', CAST(9.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Product_Id], [CategorySub_Id], [ProductSize_Id], [Product_Title], [Product_Code], [Product_Description], [Product_Rate], [Product_Status], [Product_Color], [Product_Date], [Product_Unit], [Product_UnitPrice]) VALUES (16, 13, 3, N'Carton 5ply', N'101', N'Carton Plain 5ply 700x800x250mm', CAST(50.00 AS Decimal(18, 2)), 1, N'Default', CAST(N'2018-09-10 17:01:29.000' AS DateTime), N'Pcs', CAST(35.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([ProductSize_Id], [ProductSize_Value], [ProductSize_Height], [ProductSize_Width], [ProductSize_Length], [ProductSize_Unit]) VALUES (1, N'5cm', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), N'cm')
INSERT [dbo].[ProductSizes] ([ProductSize_Id], [ProductSize_Value], [ProductSize_Height], [ProductSize_Width], [ProductSize_Length], [ProductSize_Unit]) VALUES (2, N'5.5cm', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5.50 AS Decimal(18, 2)), N'cm')
INSERT [dbo].[ProductSizes] ([ProductSize_Id], [ProductSize_Value], [ProductSize_Height], [ProductSize_Width], [ProductSize_Length], [ProductSize_Unit]) VALUES (3, N'700x800x250mm', CAST(250.00 AS Decimal(18, 2)), CAST(800.00 AS Decimal(18, 2)), CAST(700.00 AS Decimal(18, 2)), N'mm')
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([Vendor_Id], [Vendor_Name], [Vendor_MobileNo], [Vendor_Address], [Vendor_Remaining], [Vendor_Status], [Vendor_NTN], [Vendor_Company], [Vendor_Date], [Id]) VALUES (1, N'Sarmad Mirza', N'03061234567', N'Mughalpura, Lahore', 2, 1, N'123456789', N'NCBA', CAST(N'2018-09-05 16:24:34.000' AS DateTime), N'e48a426a-9823-4368-a4e7-bc3f38dd8d3d')
SET IDENTITY_INSERT [dbo].[Vendors] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[CategorySubs]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Customers]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customer_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Id] ON [dbo].[GatePasses]
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrder_Pt_POP_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrder_Pt_POP_Id] ON [dbo].[GatePasses]
(
	[PurchaseOrder_Pt_POP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Notifications]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategorySub_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategorySub_Id] ON [dbo].[Products]
(
	[CategorySub_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductSize_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductSize_Id] ON [dbo].[Products]
(
	[ProductSize_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_POP_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_POP_Id] ON [dbo].[PurchaseOrder_Ch]
(
	[POP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[PurchaseOrder_Ch]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vendor_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vendor_Id] ON [dbo].[PurchaseOrder_Pt]
(
	[Vendor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[SaleOrder_Ch]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SOP_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_SOP_Id] ON [dbo].[SaleOrder_Ch]
(
	[SOP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customer_Customer_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Customer_Id] ON [dbo].[SaleOrder_Pt]
(
	[Customer_Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OpeningClosing_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_OpeningClosing_Id] ON [dbo].[Transactions]
(
	[OpeningClosing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 10/25/2018 2:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Vendors]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Invoice_DocumentNo]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [Notification_IsSeen]
GO
ALTER TABLE [dbo].[PurchaseOrder_Pt] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [POP_DeliveryDate]
GO
ALTER TABLE [dbo].[SaleOrder_Ch] ADD  DEFAULT ((0)) FOR [Product_Id]
GO
ALTER TABLE [dbo].[SaleOrder_Pt] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [SOP_DeliveryDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CategorySubs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategorySubs_dbo.Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorySubs] CHECK CONSTRAINT [FK_dbo.CategorySubs_dbo.Categories_Category_Id]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[GatePasses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GatePasses_dbo.Customers_Customer_Id] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customers] ([Customer_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GatePasses] CHECK CONSTRAINT [FK_dbo.GatePasses_dbo.Customers_Customer_Id]
GO
ALTER TABLE [dbo].[GatePasses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GatePasses_dbo.PurchaseOrder_Pt_PurchaseOrder_Pt_POP_Id] FOREIGN KEY([PurchaseOrder_Pt_POP_Id])
REFERENCES [dbo].[PurchaseOrder_Pt] ([POP_Id])
GO
ALTER TABLE [dbo].[GatePasses] CHECK CONSTRAINT [FK_dbo.GatePasses_dbo.PurchaseOrder_Pt_PurchaseOrder_Pt_POP_Id]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.CategorySubs_CategorySub_Id] FOREIGN KEY([CategorySub_Id])
REFERENCES [dbo].[CategorySubs] ([CategorySub_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.CategorySubs_CategorySub_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductSizes_ProductSize_Id] FOREIGN KEY([ProductSize_Id])
REFERENCES [dbo].[ProductSizes] ([ProductSize_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductSizes_ProductSize_Id]
GO
ALTER TABLE [dbo].[PurchaseOrder_Ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrder_Ch_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrder_Ch] CHECK CONSTRAINT [FK_dbo.PurchaseOrder_Ch_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[PurchaseOrder_Ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrder_Ch_dbo.PurchaseOrder_Pt_POP_Id] FOREIGN KEY([POP_Id])
REFERENCES [dbo].[PurchaseOrder_Pt] ([POP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrder_Ch] CHECK CONSTRAINT [FK_dbo.PurchaseOrder_Ch_dbo.PurchaseOrder_Pt_POP_Id]
GO
ALTER TABLE [dbo].[PurchaseOrder_Pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrder_Pt_dbo.Vendors_Vendor_Id] FOREIGN KEY([Vendor_Id])
REFERENCES [dbo].[Vendors] ([Vendor_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrder_Pt] CHECK CONSTRAINT [FK_dbo.PurchaseOrder_Pt_dbo.Vendors_Vendor_Id]
GO
ALTER TABLE [dbo].[SaleOrder_Ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SaleOrder_Ch_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleOrder_Ch] CHECK CONSTRAINT [FK_dbo.SaleOrder_Ch_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[SaleOrder_Ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SaleOrder_Ch_dbo.SaleOrder_Pt_SOP_Id] FOREIGN KEY([SOP_Id])
REFERENCES [dbo].[SaleOrder_Pt] ([SOP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleOrder_Ch] CHECK CONSTRAINT [FK_dbo.SaleOrder_Ch_dbo.SaleOrder_Pt_SOP_Id]
GO
ALTER TABLE [dbo].[SaleOrder_Pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SaleOrder_Pt_dbo.Customers_Customer_Customer_Id] FOREIGN KEY([Customer_Customer_Id])
REFERENCES [dbo].[Customers] ([Customer_Id])
GO
ALTER TABLE [dbo].[SaleOrder_Pt] CHECK CONSTRAINT [FK_dbo.SaleOrder_Pt_dbo.Customers_Customer_Customer_Id]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.OpeningClosings_OpeningClosing_Id] FOREIGN KEY([OpeningClosing_Id])
REFERENCES [dbo].[OpeningClosings] ([OpeningClosing_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.OpeningClosings_OpeningClosing_Id]
GO
ALTER TABLE [dbo].[Vendors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vendors_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [FK_dbo.Vendors_dbo.AspNetUsers_ApplicationUser_Id]
GO
USE [master]
GO
