@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Angular/GatePassController.js"></script>
<div ng-controller="GatePassCtrl">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">GatePass</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">DC</li>
                    </ol>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Accordian -->
                        <div class="accordion" id="accordionTable">
                            <div class="card m-b-5">
                                <div class="card-header" id="heading1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" id="collapsePendingPO" data-toggle="collapse" data-target="#col1" aria-expanded="true" aria-controls="col1">
                                            Collapse All Pending Purchase Order Data
                                        </button>
                                    </h5>
                                </div>
                                <div id="col1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionTable">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="demo-foo-accordion" class="table table-bordered m-b-0 toggle-arrow-tiny" data-filtering="false" data-paging="true" data-sorting="false">
                                                <thead>
                                                    <tr class="footable-filtering">
                                                        <th>PO #</th>
                                                        <th>Title</th>
                                                        <th>Total Quantity</th>
                                                        <th>Total Amount</th>
                                                        <th>Total Receiced</th>
                                                        <th>Remaining</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="cursor:pointer" onMouseOver="this.style.backgroundColor = '#333'; this.style.color = '#fff'" onMouseOut="this.style.backgroundColor = '#fff';this.style.color = '#000'" ng-repeat="obj in PurchaseOrders" ng-click="StatusChangePO_FillDC(obj.Item1)">
                                                        <td>{{obj.Item1.POP_PO}}</td>
                                                        <td>{{obj.Item3}}</td>
                                                        <td>{{obj.Item1.POP_TotalQuantity}}</td>
                                                        <td>{{obj.Item1.POP_TotalAmount}}</td>
                                                        <td>{{obj.Item1.POP_TotalReceived}}</td>
                                                        <td>{{obj.Item2}}</td>
                                                        <td>{{obj.Item4}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">New GatePass</h4>
                        <hr /><br />
                        <div class="form-material row">
                            @*<div class="form-group col-md-6">
                                <label>GatePass #:</label>
                                <input type="text" ng-model="GatePassObj.GatePass_No" ng-change="ValidateGatePass()" class="form-control" readonly>
                            </div>*@
                            <div class="form-group col-md-6">
                                <label>Customer:</label>
                                <input type="text" ng-model="CustomerObj.Customer_Name" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Item Code</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="obj in PurchaseOrderData">
                                        <td>
                                            <input type="text" class="form-control" name="POC_Description" ng-model="obj.POC_Description" required readonly>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="POC_ItemCode" ng-model="obj.POC_ItemCode" required readonly>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="POC_Quantity" ng-model="obj.POC_Quantity" required readonly>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="POC_Unit" ng-model="obj.POC_Unit" required readonly>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="POC_Rate" ng-model="obj.POC_Rate" required readonly>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="POC_Amount" ng-model="obj.POC_Amount" required readonly>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="form-material row">
                            <div class="form-group col-md-5">
                                <label>Total Quantity:</label>
                                <label>{{PurchaseOrder_PtObj.POP_TotalQuantity}}</label>
                            </div>
                            <div class="form-group col-md-5">
                                <label>Total Amount:</label>
                                <label>{{PurchaseOrder_PtObj.POP_TotalAmount}}</label>
                            </div>
                            <div class="form-group col-md-2">
                                <label>GST:</label>
                                <label>{{PurchaseOrder_PtObj.POP_GST}} %</label>
                            </div>
                        </div>
                        <div class="form-material row">
                            <div class="form-group col-md-4">
                                <label>Net Total (with GST):</label>
                                <label>{{NetTotal}}</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Paid:</label>
                                <label>{{PurchaseOrder_PtObj.POP_TotalPaid}}</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Remaining:</label>
                                <label>{{AmountRemaining}}</label>
                            </div>
                        </div>
                        <div class="form-material row">
                            <div class="btn-group col-md-6">
                                <input type="button" class="btn btn-success" value="Save" ng-click="SaveGatePass()" ng-disabled="!AllowSubmit" style="width:100%">
                            </div>
                            <div class="btn-group col-md-6">
                                <input type="button" class="btn btn-warning" value="Clear" ng-click="Clear()" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">All GatePasses (Delivery Challan)</h4>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-t-10" ng-click="GetGatePass()">Refresh</button>
                        <div class="jsgrid table-responsive m-t-40">
                            <table id="myTable" class="jsgrid-table table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>GatePass #</th>
                                        <th>PO #</th>
                                        <th>Title</th>
                                        <th>Total Quantity</th>
                                        <th>Total Amount</th>
                                        <th>Total Paid</th>
                                        <th>Remaining</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="jsgrid-alt-row" ng-repeat="obj in Grid">
                                        <td><a href="~/GatePass/DCInvoice?id={{obj.Item1.POP_Id}}&dc={{obj.Item6}}">DC-{{obj.Item6}}</a></td>
                                        <td>{{obj.Item1.POP_PO}}</td>
                                        <td>{{obj.Item3}}</td>
                                        <td>{{obj.Item1.POP_TotalQuantity}}</td>
                                        <td>{{obj.Item1.POP_TotalAmount}}</td>
                                        <td>{{obj.Item1.POP_TotalPaid}}</td>
                                        <td>{{obj.Item2}}</td>
                                        <td>{{obj.Item5}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>