@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Angular/AccountController.js"></script>
<div ng-controller="AccountCtrl">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Account</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Account</li>
                    </ol>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Change Password Here</h4>

                        <form name="form" class="form-material m-t-40">

                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="text" class="form-control" name="OldPassword" ng-model="OldPassword" ng-change="ValidatePassword()" placeholder="Enter Old Password" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])[A-Za-z\d$!%*#?&]{8,30}/">
                                <span style="color:red" ng-show="form.OldPassword.$invalid &&form.OldPassword.$dirty">
                                    <span ng-show="form.OldPassword.$error.required">Enter Old Password</span>
                                    <span ng-show="form.OldPassword.$error.pattern">Password should be atleast 8 characters long and should contain one number,one character and one special character</span>
                                </span>
                            </div>

                            <div class="form-group">
                                <label>New Password</label>
                                <input type="text" class="form-control" name="NewPassword" ng-model="NewPassword" ng-change="ValidatePassword()" placeholder="Enter New Password" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])[A-Za-z\d$!%*#?&]{8,30}/">
                                <span style="color:red" ng-show="form.NewPassword.$invalid &&form.NewPassword.$dirty">
                                    <span ng-show="form.NewPassword.$error.required">Enter New Password</span>
                                    <span ng-show="form.NewPassword.$error.pattern">Password should be atleast 8 characters long and should contain one number,one character and one special character</span>
                                </span>
                            </div>

                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="text" class="form-control" name="ConfirmPassword" ng-model="ConfirmPassword" ng-change="ValidatePassword()" placeholder="Enter Confirm Password">
                                <span style="color:red" ng-show="form.ConfirmPassword.$invalid &&form.ConfirmPassword.$dirty">
                                    <span ng-show="form.ConfirmPassword.$error.required">Enter Confirm Password</span>
                                </span>
                                <span style="color:red" ng-show="!PasswordMatched">Password does not matched</span>
                            </div>

                            <div class="form-group m-b-0">
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10" ng-click="ChangePassword()" ng-disabled="BlockSubmit">Change</button>
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10" ng-click="Clear()">Clear</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>