@model AMS.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Angular/ProductController.js"></script>
<div ng-controller="ProductCtrl">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Product</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ol>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Registration</h4>
                        <h6 class="card-subtitle">
                            Register Here
                        </h6>
                        <form name="form" class="form-material m-t-40">

                            <div class="form-group">
                                <label>Sub-Category</label>
                                <select class="select2 form-control custom-select" id="CategorySub_Id" name="CategorySub_Id" ng-model="ProductObj.Product_Id" ng-options="item.CategorySub_Id as item.CategorySub_Title for item in CategorySubData" ng-change="ValidateProduct()" style="width: 100%; height:36px;">
                                    <option value="">Select Sub-Category</option>
                                </select>
                                <span style="color:red" ng-show="form.CategorySub_Id.$invalid &&form.CategorySub_Id.$dirty">
                                    <span ng-show="form.CategorySub_Id.$error.required">Select Sub-Category</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="Product_Title" ng-model="ProductObj.Product_Title" ng-change="ValidateProduct()" placeholder="Enter Product Name" required>
                                <span style="color:red" ng-show="form.Product_Title.$invalid &&form.Product_Title.$dirty">
                                    <span ng-show="form.Product_Title.$error.required">Enter Product Name</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="text" class="form-control" name="Product_Code" ng-model="ProductObj.Product_Code" ng-change="ValidateProduct()" placeholder="Enter Product Code" required>
                                <span style="color:red" ng-show="form.Product_Code.$invalid &&form.Product_Code.$dirty">
                                    <span ng-show="form.Product_Code.$error.required">Enter Product Code</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Product Description</label>
                                <input class="form-control" name="Product_Description" ng-model="ProductObj.Product_Description" ng-change="ValidateProduct()" placeholder="Enter Product Description" required>
                                <span style="color:red" ng-show="form.Product_Description.$invalid &&form.Product_Description.$dirty">
                                    <span ng-show="form.Product_Description.$error.required">Enter Product Description</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Product Size</label>
                                <select class="select2 form-control custom-select" id="ProductSize_Id" name="ProductSize_Id" ng-model="ProductObj.ProductSize_Id" ng-options="item.ProductSize_Id as item.ProductSize_Value for item in ProductSizeData" ng-change="ValidateProduct()" style="width: 100%; height:36px;">
                                    <option value="">Select Product Size</option>
                                </select>
                                <span style="color:red" ng-show="form.ProductSize_Id.$invalid &&form.ProductSize_Id.$dirty">
                                    <span ng-show="form.ProductSize_Id.$error.required">Select Product Size</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Product Color</label>
                                <input class="form-control" name="Product_Color" ng-model="ProductObj.Product_Color" ng-change="ValidateProduct()" placeholder="Enter Product Color" required>
                                <span style="color:red" ng-show="form.Product_Color.$invalid &&form.Product_Color.$dirty">
                                    <span ng-show="form.Product_Color.$error.required">Enter Product Color</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Product UOM</label>
                                <input class="form-control" name="Product_Unit" ng-model="ProductObj.Product_Unit" ng-change="ValidateProduct()" placeholder="Enter Product Unit of Measurement" required>
                                <span style="color:red" ng-show="form.Product_Unit.$invalid &&form.Product_Unit.$dirty">
                                    <span ng-show="form.Product_Unit.$error.required">Enter Product Unit of Measurement</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Product Unit Price</label>
                                <input type="number" class="form-control" name="Product_UnitPrice" ng-model="ProductObj.Product_UnitPrice" ng-change="ValidateProduct()" placeholder="Enter Product Unit Price (Purchase Rate)" required>
                                <span style="color:red" ng-show="form.Product_UnitPrice.$invalid &&form.Product_UnitPrice.$dirty">
                                    <span ng-show="form.Product_UnitPrice.$error.required">Enter Product Unit Price</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>Product Rate</label>
                                <input type="number" class="form-control" name="Product_Rate" ng-model="ProductObj.Product_Rate" ng-change="ValidateProduct()" placeholder="Enter Product Rate (Sale Rate)" required>
                                <span style="color:red" ng-show="form.Product_Rate.$invalid &&form.Product_Rate.$dirty">
                                    <span ng-show="form.Product_Rate.$error.required">Enter Product Rate</span>
                                </span>
                            </div>
                            <div class="form-group m-b-0">
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10" ng-click="SaveProduct()" ng-disabled="!AllowSubmit">Submit</button>
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10" ng-click="Clear()">Clear</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Products</h4>
                        <h6 class="card-subtitle">All Products Data</h6>
                        <button type="submit" class="btn btn-info waves-effect waves-light m-t-10" ng-click="GetProduct()">Refresh</button>
                        <div class="jsgrid table-responsive m-t-40">
                            <table id="myTable" class="jsgrid-table table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Sub-Category</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Size</th>
                                        <th>Color</th>
                                        <th>UOM</th>
                                        <th>Unit Price</th>
                                        <th>Rate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="jsgrid-alt-row" ng-repeat="obj in ProductData">
                                        <td>{{obj.Product_Title}}</td>
                                        <td>{{obj.CategorySub.CategorySub_Title}}</td>
                                        <td>{{obj.Product_Code}}</td>
                                        <td>{{obj.Product_Description}}</td>
                                        <td>{{obj.ProductSize.ProductSize_Value}}</td>
                                        <td>{{obj.Product_Color}}</td>
                                        <td>{{obj.Product_Unit}}</td>
                                        <td>{{obj.Product_UnitPrice}}</td>
                                        <td>{{obj.Product_Rate}}</td>
                                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center"><button class="jsgrid-button jsgrid-edit-button" type="button" ng-click="LoadProduct(obj)" title="Edit"></button><button class="jsgrid-button jsgrid-delete-button" type="button" ng-click="DeleteProduct(obj)" title="Delete"></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>